* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  background: no-repeat url('../img/hintergrund.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.outerchatbox{
  background: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  border-radius: 30px;
  width: 60%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatbox {
  background: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  border-radius: 29px;
  width: 96%;
  max-height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8950AC;
  border-radius: 10px;
}

.msg {
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 5px;
}

.chatbox > .left {
  background: rgba(255, 255, 255, 1);
  align-self: flex-start;
}

.chatbox > .right {
  align-self: flex-end;
  background: rgba(255, 255, 255, 0.6);
}

.chatbox > .user-event {
  align-self: center;
  background: rgba(255, 255, 255, 0.6);
}

.chatinput {
  background: rgb(252, 252, 252);
  padding: 1em;
  border-radius: 10px;
  width: 50%;
  height: 1em;
  margin-left: 20%;
}

.sendbtn {
  padding: 8px 8px;
  background: #8950AC;
  font-size: 20px;
  border-radius: 19px;
  margin-bottom: 5%;
  color: black;
  cursor: pointer;
}

.sendbtn:hover {
  background-color: #8950AC;
  color: white;
}

img {
  display: block;
  max-width:50%;
  max-height:15%;
  width: auto;
  height: auto;
  margin: 1% auto auto auto;
}
