html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 15px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background: no-repeat url('../img/hintergrund.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

img {
    display: block;
    max-width:50%;
    max-height:15%;
    width: auto;
    height: auto;
    margin: 1% auto 0.3% auto;
}

h1 {
    font-size: 30px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
}

.button {
    padding: 8px 8px;
    background: #8950AC;
    font-size: 20px;
    border-radius: 19px;
    margin-bottom: 2%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.button:hover {
    background-color: #8950AC;
}

.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 50%;
    padding: 1%;
    text-align: center;
    max-height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
