html {
    height: 100%;
    width: 100%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background: no-repeat url('../img/hintergrund.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.navigation {
   display: block;
   margin: 1%;
   margin-left: auto;
   margin-right: auto;
   background: rgba(255, 255, 255, 0.2);
   height: 34px;
   width: 80%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

li{
    float:left;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #8950AC;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.login{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   overflow: hidden;
   padding: 1%;
   padding-top: 5%;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 15px ;
   text-align: center;
   box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

label{
    background: #8950AC;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    padding: 1%;
}

#log{
    padding: 8px 8px;
    background: #8950AC;
    font-size: 20px;
    border-radius: 19px;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
  
#log:hover {
    background-color: #8950AC;
}

span{
    color: white;
    font-size: 17px;
}

.fields{
    width: 65%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

img {
    display: block;
    max-width:50%;
    max-height:15%;
    width: auto;
    height: auto;
    margin: 1% auto auto auto;
}