html {
    height: 100%;
    width: 100%;
  }

body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 300;
    background: no-repeat url('hintergrund.png');
    background-size: 100% 100%;
    background-position: 0% 0%;
}

.logo {
    background: no-repeat url('commonlogo3.png');
    background-size: 100% 100%;
    background-position: 0% 0%;
    margin: 0 auto;
    top: 0;
    width: 60%;
    height: 30%;
  }

.login{
    width: 50%;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    background: #bbb9bb2c;
    border-radius: 15px ;

}

label{
    background: rgba(184, 17, 250, 0.397);
    color: white;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    padding: 1%;
    margin-left: 40%;
}
#Uname{
    margin-left:12.5%;
    width: 65%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    margin-left: 12.5%;
    width: 65%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    margin-left: 12.5%;
    width: 65%;
    height: 30px;
    border: none;
    padding-left: 7px;
    border-radius: 5px;
    background: rgba(184, 17, 250, 0.397);
    color: white;
    font-weight: 600;
    font-size: 17px;


}
span{
    color: white;
    font-size: 17px;
}
a{
    float: left;
    background-color: grey;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    html{
        font-size: 16px + 2 * ((100vw - 360px ) / 768px );
    }
    
    [class*="logo"] {
        width: 100%;
        height: 10%;
    }

    [class*="login"] {
        width: 80%;
        height: 60%;
        font-size: 50px;
    }

    label {
        margin-left: 12.5%;
        font-size: 25px;
    }
    #Uname{
        height: 40px;
    }
    #Pass{
        height: 40px;
    }
  }