html {
    height: 100%;
    width: 100%;
  }

body
{
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Lato';
    font-weight: 300;
    background: no-repeat url('hintergrund.png');
    background-size: 100% 100%;
    background-position: 0% 0%;
    margin: 0 auto;
}

.logo {
    background: no-repeat url('commonlogo3.png');
    background-size: 100% 100%;
    background-position: 0% 0%;
    margin: 0 auto;
    top: 0;
    width: 60%;
    height: 30%;
  }

.login{
    width: 50%;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #bbb9bb2c;
    border-radius: 15px ;

}

label{
    background: rgba(184, 17, 250, 0.397);
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    font-size: 17px;
    border-radius: 5px;
    padding: 1%;
    margin-left: 40%;
}
#Uname{
    margin-left: 15%;
    width: 65%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    margin-left: 15%;
    width: 65%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    margin-left: 16%;
    width: 65%;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    border-radius: 5px;
    background: rgba(184, 17, 250, 0.397);
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    font-size: 17px;


}
span{
    color: white;
    font-size: 17px;
}
a{
    float: left;
    background-color: grey;
}