<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymelead.org/extras/spring-security">
<head>
    <meta charset="utf-8" />

    <title>Common</title>
    <meta name="description" content="Common" />
    <link rel="stylesheet" href="unauthenticated/css/chatseite.css" />
</head>
<body>
<div class="body">
</div>
<div class="main">
    <img src="unauthenticated/img/commonlogo3.png">
    <div id="chatbox" class="chatbox">
    </div>
    <form onsubmit="return false;">
    <div class="input">
        <input id="chatinput" class="chatinput" type="text" />
        <button type="submit" id="sendButton" class="sendbtn">Senden!</button>
    </div>
    </form>

</div>

</body>

<script>
    let username = "[[${#authentication.name}]]";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="unauthenticated/js/chat.js">
</script>

</html>
