<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Common</title>
    <meta name="description" content="Common" />
    <link rel="stylesheet" href="static/unauthenticated/css/chatseite.css" />
</head>
<body>
<div class="body">
</div>
<div class="main">
    <img src="/unauthenticated/img/commonlogo3.png">
    <div id="outerchatbox" class="outerchatbox">
        <div id="chatbox" class="chatbox">
        </div>
    </div>
    <form onsubmit="return false;">
    <div>
        <input id="chatinput" class="chatinput" type="text" />
        <button type="submit" id="sendButton" class="sendbtn">Send!</button>
    </div>
    </form>

</div>

</body>

<script>
    let username = "[[${#authentication.name}]]";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/unauthenticated/js/chat.js">
</script>

</html>
