<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="unauthenticated/css/LoginPage.css">
</head>
<body>
    <img src="unauthenticated/img/commonlogo3.png">
    <div class="navigation">
        <ul>
            <li><a class="active" href="">log in</a></li>
            <li><a href="">homepage</a></li>
            <li><a href="">settings</a></li>
        </ul>
    </div>
    <div class="login">
    <form id="login" method="post" th:action="@{/login}">
        <label><b>Username
        </b>
        </label>
        <input class="fields" type="text" id="username" name="username" placeholder="Enter Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input class="fields "type="Password" id="password" name="password" placeholder="Enter Password">
        <br><br>
        <button class="log" id="log" type="submit">Come on!</button>
        <br><br>
    </form>
</div>
</body>
</html>
