<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="/unauthenticated/css/register.css">
</head>
<body>
<div id="logo" class="logo"></div>
<div class="login">
    <form id="login" onsubmit="sendCredentials()">
        <label><b>Username:
        </b>
        </label>
        <input class="fields" type="text" id="username" name="username" placeholder="Username">
        <br><br>
        <label2><b> Email:
        </b>
        </label2>
        <input class="fields" type="text" name="Mail" id="email" placeholder="Email">
        <br><br>
        <label><b>Password:
        </b>
        </label>
        <input class="fields" type="Password" id="password" name="password" placeholder="Password">
        <br><br>
        <button class="log" id="log" type="submit">Come on!</button>
        <br><br>
    </form>
</div>
</body>
<script src="unauthenticated/js/register.js"></script>
</html>