<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="unauthenticated/css/TopicPage.css">
</head>

<body>
    <img src="/unauthenticated/img/commonlogo3.png">
    <div class="grid-container">
    <div class="item1">
        <ul>
            <li><a class="active" href="">topic</a></li>
            <li><a href="">homepage</a></li>
            <li><a href="">log out</a></li>
            <li><a href="">settings</a></li>
        </ul>
    </div>
    <div class="item2">
        <form class="box" th:action="@{/chatPortal/matchmaking}" method="post">
            <h1>Choose Topic</h1>
            <p>You can write your Topic of Interest in the Input lable, if you want to chat with another user about the topic. </p>
            <p>If there is no match, you can click on the suggested topics on the right.</p>
            <p>
                <label><b>Topic of interest</b></label>
                <input type="text" th:field="${topic}"/>
            </p>
            <p><button type="submit" class="button">Start Chat</button></p>
            </form>
    </div>  
    <div class="item3">
        <div class="box">
            <h2>user1234</h2>
            <p>organize party</p>
            <button class="button">Enter</button>
        </div>
    </div>
</body>
</html>
