* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: 'Lato';
  font-weight: 300;
  background: no-repeat url('hintergrund.png');
  background-size: cover;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.logo {
  background: no-repeat url('commonlogo3.png');
  margin: 0 auto;
  top: 0;
  width: 60%;
  height: 30%;
}

.chatbox {
  background: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  padding: 30px 30px;
  border-radius: 50px;
  width: 60%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
}

.msg {
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 5px;
  height: 20px;
}

.chatbox > .left {
  background: rgba(125, 125, 125, 0.6);
  align-self: flex-start;
}

.chatbox > .right {
  align-self: flex-end;
  background: rgba(255, 255, 255, 0.6);
}

.chatinput {
  background: rgba(255, 255, 255, 1);
  margin: 0 auto;
  padding: 1em;
  border-radius: 10px;
  width: 50%;
  height: 1em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;
  background: gray;
  display: flex;
  justify-content: space-between;
}

footer > h1 {
  height: fit-content;
  margin: auto 0 auto 1rem;
  color: rgba(255, 255, 255, 0.6);
}

footer > button {
  height: 3rem;
  margin: auto 3em auto 0;
  background: rgba(255, 0, 0, 1);
  border: none;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}
